.regular {
  font-weight: 400;
  font-family: 'PingFang SC', sans-serif;
}

.medium {
  font-family: 'PingFang SC', sans-serif;
  font-weight: 500;
}

.semibold {
  font-weight: 600;
  font-family: 'PingFang SC', sans-serif;
}
