.regular {
  /* font-family-correction-ignore-next */
  font-family: PingFangSC-Regular;
}

.medium {
  font-family: 'PingFang SC', sans-serif;
  font-weight: 500;
}

.semibold {
  font-family: PingFangSC-Semibold; /* font-family-correction-ignore */
}
